/* Universal Styles */

html {
  font-family: "rubik", sans-serif;
  font-size: 16px;
  color: black;
}

main {
  font-family: "rubik", sans-serif;
  position: relative;
  top: 4rem;
  color: black;
  border-radius: solid, lightgray, 1px;
}

section {
  width: auto, 0;
}

section:nth-child(2n+1) {
  background-color: lightgray;
}

a {
  font-family: "rubik", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  padding-left: 1rem;
  transition:color 750ms, background-color 750ms;
}

a:hover {
  color: red;
}

h1 {
  font-family: "roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-family: "robot", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem 0;
}

h3 {
  font-family: "roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
}

p {
  font-family: "karla", sans-serif;
  font-size: 1.5rem;
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

h5, footer span {
  font-size: 0.8rem;
  color: #01161E;
}

/* Header */

header {
  background-color: white;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

header img {
  height: 3rem;
  padding: 0 2% 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-top:
}

header span {
  font-size: 2rem;
}

.header-bar {
  color: lightgray;
  font-size: 2rem;
}

.header-bar span {
  padding: 0;
  font-weight: bold;
  color: black;
  font-size: 2rem;
}



/* Navigation */

nav {
  padding-right: 3%;
  align-self: center;
  text-align: right;

}

.desktop {
  display: inline-block;
}

.mobile {
  display: none;
}

/* Banner */



.side-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
}

.banner img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner .side-text {
  width: 30%;
  box-sizing: border-box;
}

.banner h1,h3 {
  padding: 0.25rem;
}

.start {
  width: 70%;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  transition: 750ms, background-color 375ms;
}

.start:hover {
  background-color: lime;
  color: black;
}

.information .content-box:last-child, .thesis .content-box:first-child {
  background-color: lightgray;
}


/* Info */

.multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-pic-box {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-pic-box img, video {
  width: 100%;
  margin-bottom: 2rem;
}

.main-pic-box h2 {
  padding: 0 0 1.5rem 0;
}

#mobile-pic {
  display: none;
}
/* Side boxes and text */

.stacked-content-box {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 1rem;
  width: 35%;
}

.content-box img {
  width: 35%;
  margin: 3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .side-text {
  width: 50%;
}

.content-box a {
  color: Black;
  padding: 0;
  transition-timing-function: ease-in-out;
  transition:color 750ms;
}

.content-box a:hover {
  color: red;
}

.thesis .main-pic-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}


/* Courses Section */

.courses {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.course-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-box {
  width: 30%;
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: white;
}

.courses h2, .thesis h2 {
  text-align: center;
}

.course-box img {
  width:100%;
}

.course-text {
  padding: 1rem 0 0 1rem;
  margin: 1.5rem auto;
}

/* Footer Section*/

footer {
  background-color: white;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  position:relative;
  top: 4rem;
  width: 100%
}

footer h5 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

footer nav {
  align-self: auto;
  padding-top: 1rem;
}

footer span {
  padding-left: 1rem;
}

footer a {
  transition-timing-function: ease-in-out;
  transition:color 750ms;
}

footer a:hover {
  color: red;
}

/* Mobile Device */

@media only screen and (max-width: 480px) {

/* DND */

  .logo, .desktop, .header-bar, .main-pic-box, #pc-pic, .stacked-content-box, .thesis p, .thesis h3, .course-box img,
  .course-box p, footer nav   {
    display: none;
  }

  /* Mobile Header */

  .mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }

  .mobile img {
    width: auto;
    height: 2rem;
  }

/* Mobile Banner */

  .banner img {
    width: 100%;
    margin: auto;
  }

  .banner .side-text {
    width: 100%;
    padding: 2rem 1rem;
    margin: auto;
  }

  .start {
    align-self: center;
    width: 100%;
  }

  /* Campus */

  .stacked-content-box, .content-box .side-text {
    background-color: white;
    width: 100%;

  }

  .content-box {
    display: flex;
    flex-flow: column;
  }

  #mobile-pic {
    display: block;
    box-sizing: border-box;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .content-box img {
    width: 100%;
    margin: auto;
    background-color: white;
  }

  .content-box .side-text {
    box-sizing: border-box;
    padding: 1rem;
  }

  .content-box a {
    font-size: 1rem;
  }

  /* Courses Section */

  .Courses {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .course-container {
    flex-flow: column;
  }

  .course-box {
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }

  .course-text {
    padding: 1rem;
  }

  /* Thesis Section */

  .thesis .main-pix-box {
    width: 100%;
    padding: 0 0 2rem 0;
  }

  video {
    margin: auto;
  }

  /* Footer */

  h5 {
    margin-top: 1.5rem;
  }
